<ion-header>
  <!-- <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content padding>
  <div class="az-signin-wrapper">
    <div class="az-card-signin">
      <h1 class="az-logo">GO-<span>CRM</span></h1>
      <div class="az-signin-header">
        <h2>Welcome back!</h2>
        <h4>Please sign in to continue</h4>

        <form action="/home">
          <div class="form-group">
            <ion-item>
              <ion-label position="floating">Company Id <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
          </div><!-- form-group -->
          <div class="form-group">
            <ion-item>
              <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
          </div><!-- form-group -->
          <div class="form-group">
            <ion-item>
              <ion-label position="floating">Password <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="password"></ion-input>
            </ion-item>
          </div><!-- form-group -->
          <ion-button >Sign In</ion-button>
        </form>
      </div><!-- az-signin-header -->
      <div class="az-signin-footer">
        <p><a href="#">Forgot password?</a></p>
        <p>Don't have an account? <a href="/register">Create an Account</a></p>
      </div><!-- az-signin-footer -->
    </div><!-- az-card-signin -->
  </div><!-- az-signin-wrapper -->
</ion-content>
