<ion-header>
  <!-- <ion-toolbar>
   
  </ion-toolbar> -->
  <ion-title></ion-title>
</ion-header>

<ion-header>
    <!-- <ion-toolbar>
      
    </ion-toolbar> -->
    
    <ion-toolbar>
        <ion-title>GO-CRM</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content padding center text-center>
    <h2>Company Registration</h2>
    <hr class="mg-y-30">
  <form action="/register">
<ion-card>
    <ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">Full Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
      </ion-col>
      <ion-col>
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">Email Id <ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">Password<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="password" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
      </ion-col>
      <ion-col>
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">Retype-Password<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="password" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">Company Name<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
      </ion-col>
      <ion-col>
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">Address Line 1<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">Address Line 2<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
      </ion-col>
      <ion-col>
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">State<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">City<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
      </ion-col>
      <ion-col>
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">Pin code<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">Trade License No.<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
      </ion-col>
      <ion-col>
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">Company PAN<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-card-content>
</ion-card>

  <ion-button  (click)="register()">Create Account</ion-button>
          <!-- <button class="btn btn-az-primary btn-block">Create Account</button>
          <div class="row row-xs">
            <div class="col-sm-6"><button class="btn btn-block"><i class="fab fa-facebook-f"></i> Signup with Facebook</button></div>
            <div class="col-sm-6 mg-t-10 mg-sm-t-0"><button class="btn btn-primary btn-block"><i class="fab fa-twitter"></i> Signup with Twitter</button></div>
          </div> -->
          <!-- row -->
        </form>
     
</ion-content>