<ion-header>
  
  <ion-title>
   
  </ion-title>
  
  <app-header></app-header>

</ion-header>

<ion-content>
    <div style="margin-top: 50px;" padding>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search.....">
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
            <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>
      
          <!-- Color Column -->
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
            <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>

    </div>

<!-- //////   ADD ////////////// -->



<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->

<hr>


   
</ion-content>
<!-- <ion-toolbar position="bottom" color="medium" ion-button icon-only clear>
    <button (click)="sendMessage()">
        <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
    </button>
  </ion-toolbar> -->
  <ion-footer>
      <ion-toolbar>
        <button ion-button icon-only clear>
            <ion-icon name="arrow-round-back"></ion-icon>
        </button>
        <button ion-button icon-only clear (click)="open(content)">
          <ion-icon name="add"></ion-icon>
        </button>
        <button ion-button icon-only clear>
            <ion-icon name="refresh"></ion-icon>
          </button>
          <button ion-button icon-only clear>
              <ion-icon name="cloud-download"></ion-icon>
            </button>
      </ion-toolbar>
    </ion-footer>
  