<ion-header>
  
    <!-- <ion-toolbar>
      
    </ion-toolbar> -->
   
    <ion-toolbar class="az-header">
      <ion-title><h2>GO-CRM</h2></ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
    
  </ion-header>
<ion-content>
  
    <ion-grid>
        <ion-row>
          <ion-col>
              <img src="assets/img/1.png" style="opacity: 0.6;">
            
            
              <!-- <ion-card-content>
                <ion-card-title>
                  Nine Inch Nails Live
                  </ion-card-title>
                <p>
                  The most popular industrial group ever, and largely
                  responsible for bringing the music to a mass audience.
                </p>
              </ion-card-content> -->
              <!-- <ion-card>
            </ion-card> -->
          </ion-col>
          <ion-col>
            <div>
              <h2>My Profile</h2>
            </div>
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Basic Information</ng-template>
            <div class="form-group">
              <ion-item>
                <ion-label position="stacked">First Name<ion-text color="danger">*</ion-text></ion-label>
                <ion-input required type="text" ></ion-input>
              </ion-item>
            </div><!-- form-group -->
        
            <div class="form-group">
              <ion-item>
                <ion-label position="stacked">Last Name<ion-text color="danger">*</ion-text></ion-label>
                <ion-input required type="text" ></ion-input>
              </ion-item>
            </div><!-- form-group --><div class="form-group">
              <ion-item>
                <ion-label position="stacked">Last Name<ion-text color="danger">*</ion-text></ion-label>
                <ion-input required type="text" ></ion-input>
              </ion-item>
            </div><!-- form-group -->
            <div class="form-group">
              <ion-item>
                <ion-label position="stacked">Date of Birth<ion-text color="danger">*</ion-text></ion-label>
                <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
              </ion-item>
            </div><!-- form-group -->
            <div class="form-group">
              <ion-item>
                <ion-label position="stacked">Email Id<ion-text color="danger">*</ion-text></ion-label>
                <ion-input required type="text" ></ion-input>
              </ion-item>
            </div><!-- form-group -->
        
        <div>
            <ion-button (click)="goForward(stepper)" type="button">Next</ion-button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Contact Details</ng-template>
      
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">Address Line 1<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">Address Line 2<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">City<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">Pin Code<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">State<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">Mobile No.<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
        <div class="form-group">
          <ion-item>
            <ion-label position="stacked">Alternnet Mobile no.<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" ></ion-input>
          </ion-item>
        </div><!-- form-group -->
        <div>
            <ion-button (click)="goBack(stepper)" type="button">Back</ion-button>
            <ion-button (click)="goForward(stepper)" type="button">Next</ion-button>
         </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Upload Documents</ng-template>
     
      <div class="form-group">
        <ion-item>
          <ion-label position="stacked">Document Type <ion-text color="danger">*</ion-text></ion-label>
          <ion-select interface="popover">
            <ion-select-option value="Type1">Type1</ion-select-option>
            <ion-select-option value="Type2">Type2</ion-select-option>
            
          </ion-select>
        </ion-item>
      </div><!-- form-group -->
      <div class="form-group">
        <ion-item>
          <ion-label position="stacked">Document Name<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" ></ion-input>
        </ion-item>
      </div><!-- form-group -->
      <div class="form-group">
        <ion-item>
          <ion-label position="stacked">Upload Document<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="file" ></ion-input>
        </ion-item>
      </div><!-- form-group -->
       
      <div>
          <ion-button (click)="goBack(stepper)" type="button">Back</ion-button>
          <ion-button (click)="goForward(stepper)" type="button">Next</ion-button>
       </div>
       </form>
    </mat-step>
    
    <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Company Details</ng-template>
      <div class="form-group">
        <ion-item>
          <ion-label position="stacked">Company Name<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" ></ion-input>
        </ion-item>
      </div><!-- form-group -->
      <div class="form-group">
        <ion-item>
          <ion-label position="stacked">Branch<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" ></ion-input>
        </ion-item>
      </div><!-- form-group --> 
      <div class="form-group">
        <ion-item>
          <ion-label position="stacked">Partner Type<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" ></ion-input>
        </ion-item>
      </div><!-- form-group -->
      <div class="form-group">
        <ion-item>
          <ion-label position="stacked">Designation<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" ></ion-input>
        </ion-item>
      </div><!-- form-group -->
      <div class="form-group">
        <ion-item>
          <ion-label position="stacked">Valid From<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" ></ion-input>
        </ion-item>
      </div><!-- form-group -->
      <div>
          <ion-button (click)="goBack(stepper)" type="button">Back</ion-button>
          <ion-button (click)="goPrivateCarDetails()" type="button">Done</ion-button>
       </div>
       </form>
    </mat-step>
  </mat-vertical-stepper>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
