<ion-header>
 
    <!-- <ion-toolbar>
      
    </ion-toolbar> -->
   
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col>

          </ion-col>
          <ion-col>
            <div>
              <h2>My Profile</h2>
            </div>
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Personal Information</ng-template>

       
              <ion-item>
                  <input  matInput  type="text" ng-disabled="redirect==false"  placeholder="Registration Number" formControlName="firstCtrl" required>
              </ion-item>
            
        
           
         
        <mat-form-field>
          <input matInput  type="text" placeholder="Registration Location" formControlName="firstCtrl" required>
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        <!-- <mat-form-field>
            <input matInput formControlName="firstCtrl" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
          </mat-form-field> -->
        
        <div>
            <ion-button (click)="goForward(stepper)" type="button">Next</ion-button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Your Car detail</ng-template>
        <mat-form-field>
            <mat-label>Make</mat-label>
            <select matNativeControl required>
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
          </mat-form-field>
          <mat-form-field>
              <mat-label>Model</mat-label>
              <select matNativeControl required>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </mat-form-field>
          <mat-form-field>
              <mat-label>Variant</mat-label>
              <select matNativeControl required>
                <option value="Sx vt vt">Sx vt vt</option>
                <option value="Vt vt">Vt vt</option>
              </select>
            </mat-form-field>
          <mat-form-field>
              <mat-label>Cubic Capacity</mat-label>
              <select matNativeControl required>
                <option value="volvo">1000 cc</option>
                <option value="saab">2000 cc</option>
               
              </select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Fuel Type</mat-label>
                <select matNativeControl required>
                  <option value="Diesel">Diesel</option>
                  <option value="Petrol">Petrol</option>
                  
                </select>
              </mat-form-field>
        <mat-form-field>
          <mat-label>Manufacturing Year</mat-label>
          <select matNativeControl required>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
            <option value="2016">2016</option>
          </select>
        </mat-form-field>

          

        <div>
            <ion-button (click)="goBack(stepper)" type="button">Back</ion-button>
            <ion-button (click)="goForward(stepper)" type="button">Next</ion-button>
         </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Previous Policy Details</ng-template>
     
      <mat-form-field>
          <mat-label>Claimed Previous Year?</mat-label>
          <select matNativeControl required>
            <option value="2019">Yes</option>
            <option value="2018">No</option>
          
          </select>
        </mat-form-field>
          <mat-form-field>
              <mat-label>Select Previous NCB</mat-label>
              <select matNativeControl required>
                <option value="2019">0%</option>
                <option value="2018">20%</option>
                <option value="2017">50%</option>
                <option value="2016">90%</option>
              </select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Policy Type</mat-label>
                <select matNativeControl required>
                  <option value="2019">Package</option>
                  <option value="2018">Liability only</option>
                  <option value="2017">OD Cover Only</option>
                  <option value="2016">New Vehicle</option>
                </select>
              </mat-form-field>
       
      <div>
          <ion-button (click)="goBack(stepper)" type="button">Back</ion-button>
          <ion-button (click)="goForward(stepper)" type="button">Next</ion-button>
       </div>
       </form>
    </mat-step>
    
    <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
      <ng-template matStepLabel>Save your quote now</ng-template>
      <mat-form-field>
           
          <input  matInput  type="text" ng-disabled="redirect==false"  placeholder="Lead Name" formControlName="fourthCtrl" required>
        </mat-form-field>
      <div>
          <ion-button (click)="goBack(stepper)" type="button">Back</ion-button>
          <ion-button (click)="goPrivateCarDetails()" type="button">Done</ion-button>
       </div>
       </form>
    </mat-step>
  </mat-vertical-stepper>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
